LANG:en
OPENFISCA_URL:https://openfisca-nsw-dev.herokuapp.com
OPENFISCA_GIT_CLONE_URL:https://github.com/digitalnsw/openfisca-nsw.git
GITHUB_URL:https://github.com/digitalnsw/openfisca-nsw
RAILS_ENV:development
RAILS_LOG_TO_STDOUT:true
RAILS_SERVE_STATIC_FILES:true
COUNTRY_NAME:nsw
